<div class="node-container">
  <div *ngFor="let node of nodes" class="node" [style.left.px]="node.positionX" [style.top.px]="node.positionY"
    (mousedown)="startDrag($event, node)" (touchstart)="startDrag($event, node)">
    <div class="content-container">
      <div>{{ node.name }}</div>

      <div class="button-container">
        <button (click)="openDescription(node.id)" class="button">
          <i class="pi pi-circle"></i>
        </button>
      </div>
    </div>
  </div>
</div>

@if (showDescription && selectedNode) {
<div class="card">
  <p-card [header]="selectedNode.name">
    <p class="m-0">
      {{selectedNode.description}}
    </p>
  </p-card>
  <div class="close-div">
    <button class="close-button" (click)="closeDescription()">
      <i class="pi pi-times"></i>
    </button>
  </div>
</div>
}