<div class="node-container">
  <div *ngFor="let node of nodes" class="node" [style.left.px]="node.positionX" [style.top.px]="node.positionY"
    (mousedown)="startDrag($event, node)" (touchstart)="startDrag($event, node)">
    <div class="content-container">
      <div>{{ node.name }}</div>
      <div>
        <button (click)="openDescription(node.id)" class="button">
          <i class="pi pi-circle"></i>
        </button>
      </div>
    </div>
  </div>
</div>

@if (showDescription && selectedNode) {
  <div class="card">
    <p-card [header]="selectedNode.name">
      <p class="m-0">
        {{selectedNode.description}}
      </p>
      <p-footer>
        <div class="action-footer">
          <p-button label="Szerkesztés" [raised]="true" severity="warning" [style]="{height: '10px', width: '150px'}" (click)="openEditor()"></p-button>
          <span>{{selectedNode.children?.length}} gondolat</span>
          <p-button label="Törlés" [raised]="true" severity="danger" [style]="{height: '10px', width: '150px'}" (click)="openConfirmation()"></p-button>
        </div>
      </p-footer>
    </p-card>
    <div class="child-creation-div">
      <button class="child-creation-button" (click)="setParentNodeId()">
        <i class="pi pi-plus"></i>
      </button>
    </div>
    <div class="close-div">
      <button class="close-button" (click)="closeDescription()">
        <i class="pi pi-times"></i>
      </button>
    </div>
    @if (children.length > 0) {
      <div class="children-container">
        @for (item of children; track $index) {
          <p-card class="children-card" [style]="{height: 'auto'}" (click)="openDescription(item.id)">
            <div class="children-content">
              {{item.name}}
            </div>
          </p-card>
        }
      </div>
    }
  </div>
}

@if (showEditor && selectedNode) {
  <div class="input">
    <p-card [header]="selectedNode.name">
        <p>Név</p>
        <input type="text" [(ngModel)]="model.name"/>
        <p>Leírás</p>
        <input type="text" [(ngModel)]="model.description"/>
        <div class="submit-button">
          <p-button label="Szerkesztés" (click)="submitNodeEdit(selectedNode.id)"></p-button>
        </div>
        <div class="close-div">
          <button class="close-button" (click)="switchEditorState()">
            <i class="pi pi-times"></i>
          </button>
        </div>
      </p-card>
  </div>
}

@if (showConfirmation) {
  <div class="card">
    <p-card header="Biztosan törölni akarja?" [subheader]="selectedNode.name">
      <ng-template pTemplate="footer">
          <p-button label="Törlés" styleClass="p-button-danger" (click)="deleteNode(selectedNode.id)"></p-button>
          <p-button label="Mégse" styleClass="p-button-secondary" (click)="cancelDeletion()" [style]="{ 'margin-left': '.5em' }"></p-button>
      </ng-template>
    </p-card>
  </div>
}

@if (showForm) {
  <div class="input">
    <p-card header="Új gondolat felvétele">
        <p>Gondolat neve</p>
        <input type="text" [(ngModel)]="model.name"/>
        <p>Leírás</p>
        <input type="text" [(ngModel)]="model.description"/>
        <div class="submit-button">
          <p-button label="Felvétel" (click)="submitNewNode()"></p-button>
        </div>
        <div class="close-div">
          <button class="close-button" (click)="switchFormState()">
            <i class="pi pi-times"></i>
          </button>
        </div>
      </p-card>
  </div>
}

<div class="plus-button">
  <button class="rounded-button" (click)="switchFormState()">
    <i class="pi pi-plus"></i>
  </button>
</div>
