      <div class="card-container" (mousedown)="startDrag($event)" (mousemove)="drag($event)" (mouseup)="endDrag()">
        <div class="scroll-box">
          @for (item of books; track $index) {
            <p-card [header]="item.title" [style]="{ width: '340px' }" class="card">
              <ng-template pTemplate="header">
                <div class="header-content">
                  <img alt="Card" src="assets/book.png" (click)="clickedBook(item.title)"/>
                </div>
              </ng-template>
              <ng-template pTemplate="footer">
                <p style="text-align: end; font-weight: bold;">{{item.elementCount}} kategória</p>
            </ng-template>
            </p-card>
            }
        </div>
      </div>

      @if (showForm) {
        <div class="input">
          <p-card header="Új könyv felvétele">
              <p>Cím</p>
              <input type="text" [(ngModel)]="model.title"/>
              <div class="submit-button">
                <p-button label="Felvétel" (click)="submitNewBook()"></p-button>
              </div>
              <div class="close-div">
                <button class="close-button" (click)="switchState()">
                  <i class="pi pi-times"></i>
                </button>
              </div>
            </p-card>
        </div>
      }


      <div class="plus-button">
        <button class="rounded-button" (click)="switchState()">
          <i class="pi pi-plus"></i>
        </button>
      </div>



